.container {
  text-align: left;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  background-image: url("/hero_background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 1700px;
  display: flex;
  align-items: center;
  height: 80vh;
  z-index: 3;
  position: relative;
  overflow: hidden;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}
.subtitle_top {
  color: var(--blue-light);
  text-shadow: 0px 0px 10px #e2e2e240;
  font-size: 1rem;
}
.title {
  font-size: 6rem;
  margin: 5px 0px;
}
.subtitle_bottom {
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 1rem;
}
.socials {
  margin-top: 2em;
}
.socials ul {
  list-style-type: none;
  display: flex;
}
.socials li a {
  background-color: #464646;
  padding: 24px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin: 15px 15px;
}

/* media query for when the screen is taller than it is wide */
@media (orientation: portrait) {
  .container {
    height: 70vh;
    text-align: center;
    background-image: url("/hero_background-portrait.svg");
    background-repeat: repeat;
    width: 100%;
  }
  .socials ul {
    justify-content: center;
  }

}

/* responsive - mobile */
@media (max-width: 600px) {
  .container {
    background-repeat: no-repeat;
  }
  .wrapper {
    width: 100%;
  }
  .socials li a {
    padding: 16px;
  }
  .subtitle_top {
    margin-bottom: 20px;
  }
  .title {
    font-size: 3.5rem;
    margin-bottom: 10%;
  }
  .subtitle_bottom {
    font-size: 0.8rem;
    width: 70%;
    margin: 0 auto;
  }
}
