* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-background: #111;
  --border-grey: rgb(73, 73, 73);
  --blue-light: #4478C9;
  --blue: #0F52BA;
  --border-radius: 15px;
  --z-index-header: 6;
  --z-index-cursor: 3;
  --z-index-cursor-blur: 4;
  --z-index-above-cursor: 5;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

/* dark mode */
.theme {
  transition: 1s all ease;
}
.light {
  background-color: white;
  color: var(--dark-background);
}
.dark {
  background-color: var(--dark-background);
  color: white;
}

/* custom cursor */

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: linear-gradient(to right, rgba(160, 160, 239, 0.1), rgba(219, 210, 210, 0.1));
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: var(--z-index-cursor);
  pointer-events: none;
  filter: blur(65px);
}


/* links */
a {
  color: inherit;
  text-decoration: none;
}
