.container {
  all: unset;
  background-color: var(--component-background-2);
  z-index: 999;
  transition: var(--theme-transition);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  white-space: pre-line;
  padding: 2em 0em;
  z-index: var(--z-index-above-cursor);
  color: var(--text-color-2);
  transition: var(--theme-transition);
  width: 90%;
}

.wrapper h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.wrapper h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.wrapper p {
  margin-bottom: 10px;
}

.wrapper ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

.wrapper a {
  /* color: #007bff; */
  text-decoration: none;
}

/* Responsive: Mobile - Tablet */
@media (max-width: 700px) {
  .wrapper {
    padding: 0em 0em;
  }
}