.header {
  background-color: var(--navbar-color);
  border-bottom: 1px solid grey;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: var(--z-index-header);
  margin-bottom: 2em;
  transition: var(--theme-transition);
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}


.nav_links ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 0.9rem;
  color: var(--navbar-text-col);
}

.nav_links li {
  cursor: pointer;
  transition: all 0.5s;
}
.nav_links li:hover {
  opacity: 0.6;
}
/* when scrolled to section, change link */
.element_visible {
  opacity: 0.5;
}

.menu {
  display: none;
}

/* Mobile responsive */
@media screen and (max-width: 600px) {
  .navbar_container {
    justify-content: space-between;
    margin: 0 15px;
  }
  .nav_links {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav_row_end {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}