.container {
  border-top: 1px solid var(--border-grey);
  padding: 4em 0;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.footer_row {
  display: flex;
  justify-content: space-between;
}
.footer_row:first-child {
  margin-bottom: 140px;
}
.footer_row:last-child {
  /* color: var(--off-white); */
  align-items: center;
}
.image_and_text p {
  color: #636363;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1.5;
}
.links {
  display: flex;
  list-style-type: none;
}
.socials_links {
  gap: 20px;
}
.socials_links a {
  background-color: #464646;
  color: var(--off-white);
  padding: 18px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}
.page_links {
  gap: 30px;
  text-decoration: underline;
}
.page_links li {
  transition: 0.2s;
}

.page_links li:hover {
  opacity: 0.6;
}


/* responsive - mobile */
@media (max-width: 800px) {
  .container {
    padding: 3em 0;
  }
  .wrapper {
    text-align: center;
  }
  .footer_row {
    flex-direction: column;
  }
  .footer_row:first-child {
    margin-bottom: 0px;
  }
  .footer_row:last-child {
    flex-direction: column-reverse;
  }
  .socials_links {
    margin: 3em 0;
  }
  .links {
    justify-content: center;
  }
  .page_links {
    margin-bottom: 3em;
  }
  
}